@model QuizApp.Models.QuizDziedzinaViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Quizy</h1>

<p>
    <a asp-action="Create">Utwórz nowy quiz</a>
</p>

<form asp-controller="Quiz" asp-action="Index" method="get">
    <p>
        <select asp-for="QuizDziedzina" asp-items="Model.Dziedziny">
            <option value="">Wszystkie</option>
        </select>
        <label>Wyszukaj: <input type="text" asp-for="SearchString" /></label>
        <input type="submit" value="Filtruj" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TytulSortParm"]">
                    @Html.DisplayNameFor(model => model.Quizy![0].Tytul)
                    @if (ViewData["TytulSortParm"] == "")
                    {
                        <i class="fas fa-sort-up"></i> @* Ikona rosnąco *@
                    }
                    else if (ViewData["TytulSortParm"] == "tytul_desc")
                    {
                        <i class="fas fa-sort-down"></i> @* Ikona malejąco *@
                    }
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["CzasTrwaniaSortParm"]">
                    @Html.DisplayNameFor(model => model.Quizy![0].CzasTrwania)
                    @if (ViewData["CzasTrwaniaSortParm"] == "czastrwania")
                    {
                        <i class="fas fa-sort-up"></i> @* Ikona rosnąco *@
                    }
                    else if (ViewData["CzasTrwaniaSortParm"] == "czastrwania_desc")
                    {
                        <i class="fas fa-sort-down"></i> @* Ikona malejąco *@
                    }
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DziedzinaSortParm"]">
                    @Html.DisplayNameFor(model => model.Quizy![0].Dziedzina)
                    @if (ViewData["DziedzinaSortParm"] == "dziedzina")
                    {
                        <i class="fas fa-sort-up"></i> @* Ikona rosnąco *@
                    }
                    else if (ViewData["DziedzinaSortParm"] == "dziedzina_desc")
                    {
                        <i class="fas fa-sort-down"></i> @* Ikona malejąco *@
                    }
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Quizy!)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Tytul)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CzasTrwania)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dziedzina)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a> |
                    <a asp-controller="QuizPlay" asp-action="Start" asp-route-id="@item.Id">Rozpocznij</a>
                </td>
            </tr>
        }
    </tbody>
</table>