@model QuizApp.Models.Pytanie

@{
    ViewData["Title"] = "Szczegóły pytania";
}

<h1>Szczegóły pytania</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tekst)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tekst)
        </dd>
        @for (int i = 0; i < Model.Odpowiedzi.Count; i++)
        { // Poprawiona pętla
            <dt class="col-sm-2">
                Odpowiedź @(i + 1)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => Model.Odpowiedzi.ElementAt(i).Tekst)
            </dd>
            <dt class="col-sm-2">
                Poprawna
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => Model.Odpowiedzi.ElementAt(i).CzyPoprawna)
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edytuj</a> |
    <a asp-action="Index">Powrót do listy pytań</a>
</div>